<div class="container mt-10">
    <h1>
      <span class="sub-titulo">Apoio</span>
    </h1>
    <div class="d-flex justify-content-center">
      <div class="card-group">
        <div class="card p-5">
          <img class="card-img-top" src="/assets/parceiros/ANNA_PEGOVA.png" alt="Card image cap">
        </div>
        <div class="card p-5">
          <img class="card-img-top" src="/assets/parceiros/BOLD.png" alt="Card image cap">
        </div>
        <div class="card p-5">
          <img class="card-img-top" src="/assets/parceiros/CAMARA_COMERCIO_ARABE.png" alt="Card image cap">
        </div>
        <div class="card p-5">
          <img class="card-img-top" src="/assets/parceiros/GUARDIOES_PRO_VIDA.png" alt="Card image cap">
        </div>
        <div class="card p-5">
          <img class="card-img-top" src="/assets/parceiros/INSTITUTO_LOJAS_RENNER.png" alt="Card image cap">
        </div>
        <div class="card p-5">
          <img class="card-img-top" src="/assets/parceiros/MAVARO.png" alt="Card image cap">
        </div>
        <div class="card p-5">
          <img class="card-img-top" src="/assets/parceiros/SENAC.png" alt="Card image cap">
        </div>
      </div>
    </div>
  </div>