<div class="container mt-5">
  <h1 class="sub-titulo">Parceiros</h1>
</div>
<ngb-carousel>
  [showNavigationArrows]="true"
  [showNavigationIndicators]="true"
  interval="12000"
  [keyboard]="true"
  [pauseOnHover]="true"
  [wrap]="true"
  [activeId]="'secondSlide'"
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./assets/parceiros/slide-1.png" alt="Angular Carousel 1">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./assets/parceiros/slide-2.png" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
</ngb-carousel>