section#header {
    background: #003366;
    color:#fff; 
    font-family: 'Nunito Sans', sans-serif;   
}

section#doacoes{
    font-family: 'Poppins', sans-serif;
}

section#dados-bancarios{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

section#metas{
    font-family: 'Montserrat', sans-serif;
    background: #E7E9EB;
}

.texto-destaque-heeader{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.box {
    height: 150px;
}

.text-box {
    font-weight: 600; 
}

.box-title { 
    font-weight: 800;   
    margin-bottom: 0px;
}

.sub-titulo {
    margin-bottom: 0px;
    font-weight: 700;
}

.navbar-nav .ml-auto {
    color:#E7E9EB;
}

.navbar-light .navbar-nav .nav-link {
    color: #919396;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ae191e;
}

.btn-doe {
    background:#8C151A;
    color: #fff;
}

.li-btn-doacao {
    margin-left: 15px;
}

@media only screen and (max-width: 500px) {
    .li-btn-doacao {
        margin-left: 0px;
    }

    footer {
        display: none;
    }
  }

.btn-doe:hover {
    background:#AE191E;
    color: #fff;
}

.text-red{
    color:  #8C151A;
}

.alert {
    border-radius: 30px;
    padding: 25px 30px 25px 30px;
}

.title-grey {
    color:#999999;
}

.title-azul{
    color: #003366;
}

.icone-campanha {
    width: 100px;
}

.linha {    
    display: block;
    height: 1px;
    border: 0;
    border-radius: 5px;
    border-top: 5px solid #003366;
    margin: 0;
    padding: 0;  
}

section#metas img {
    border-radius: 25px;
}


.box-banco h3 {
    font-size: 18px;
}

.box-banco h2 {
    font-size: 20px;
}

.footer-brand {
    width: 200px;
}

.bg-grey{
    background: #e5e6e6;
}

#parceiros ngx-gallery-image {
    display: none;
}

#parceiros ngx-gallery-thumbnails{
    width: 800px;
    height: 256px;
}

footer {
    background-color: #b6b7b942
}


