<div>
  <section id="header" class="pt-4 pt-md-6 pb-md-6">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-5 col-lg-6 order-md-2">
          <img src="assets/img/hospital-santa-marcelina.jpg" class="img-fluid aos-init aos-animate" alt="Hospital"
            data-aos="fade-up" data-aos-delay="100">
        </div>
        <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">

          <h3 class="text-center text-md-left">
            O HOSPITAL SANTA MARCELINA<br>
          </h3>
          <h3 class="display-4 text-white">
            <span class="texto-destaque-heeader">PRECISA DE SUA AJUDA</span>
          </h3>
          <!-- Text -->
          <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
            Seu Hospital precisa de apoio para continuar atendendo e cuidando da sua população.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Doacoes -->
  <section id="doacoes" class="pt-8 pt-md-3 bg-gradient-light">
    <div class="container">
      <h1 class="text-primary display-4">
        Como você pode ajudar?
      </h1>
      <div class="row align-items-center" id="campanha">
        <div class="col-12 col-md-6 col-lg-6 aos-init aos-animate" data-aos="fade-right">
          <h2>
            <span class="title-grey">Pessoa Física</span>
          </h2>
          <div class="linha"></div>
          <p class="font-size-lg text-muted mb-6">
          </p>
          <div class="d-flex">
            <div class="icon text-primary">
              <img class="icone-campanha" src="./assets/img/icones/Dinheiro.png" alt="">
            </div>
            <div class="ml-5">
              <h3 class="text-primary mb-1">
                Doações em dinheiro
              </h3>
              <p class="text-muted mb-6">
                Qualquer quantia que possa ajudar a manter mais leitos no hospital.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="icon text-primary">
              <img class="icone-campanha" src="./assets/img/icones/luva.png" alt="">
            </div>
            <div class="ml-5">
              <!-- Heading -->
              <h3 class="text-primary mb-1">
                Trabalho Voluntário
              </h3>
              <!-- Text -->
              <p class="text-muted mb-6">
                Você pode ajudar com sua mão de obra. Precisamos de médicos, enfermeiros,
                costureiras,
                designers, profissionais de comunicação, entre outros.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 aos-init aos-animate">
          <div class="d-flex">
            <div class="icon text-primary">
              <img class="icone-campanha" src="./assets/img/icones/doacao.png" alt="">
            </div>
            <div class="ml-5">
              <h3 class="text-primary mb-1">
                Doação de Sangue
              </h3>
              <p class="text-muted mb-6">
                Ajude a reabastecer nossas bolsas de sangue.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 col-lg-6 aos-init aos-animate" data-aos="fade-right">
          <h2>
            <span class="title-grey">Pessoa Jurídica</span>
          </h2>
          <div class="linha"></div>
          <p class="font-size-lg text-muted mb-6">
          </p>
          <div class="d-flex">
            <div class="icon text-primary">
              <img class="icone-campanha" src="./assets/img/icones/Dinheiro.png" alt="">
            </div>
            <div class="ml-5">
              <h3 class="text-primary mb-1">
                Doações em dinheiro
              </h3>
              <p class="text-muted mb-6">
                Qualquer quantia que possa ajudar a manter mais leitos no hospital.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="icon text-primary">
              <img class="icone-campanha" src="./assets/img/icones/doacao.png" alt="">
            </div>
            <div class="ml-5">
              <h3 class="text-primary mb-1">
                Doação de materiais e insumos hospitalares
              </h3>
              <p class="text-muted mb-6">
                • EPI’S (máscaras, aventais e luvas);<br>
                • Lençóis;<br>
                • Álcool em gel;<br>
                • Equipamentos hospitalares.
              </p>
            </div>
          </div>
          <div class="d-flex mt-0">
            <div class="icon text-primary">
              <img class="icone-campanha" src="./assets/img/icones/forca.png" alt="">
            </div>
            <div class="ml-5">
              <h3 class="text-primary mb-1">
                Força de Trabalho
              </h3>
              <p class="text-muted mb-6">
                Sua equipe em prol do voluntariado.
              </p>
            </div>
          </div>
        </div>
        <div id="voluntario" class="col-12 col-md-6 col-lg-6 aos-init aos-animate">
          <br>
          <br>
          <div class="d-flex">
            <div class="icon text-primary">
              <img class="icone-campanha" src="./assets/img/icones/alimento.png" alt="">
            </div>
            <div class="ml-5">
              <h3 class="text-primary mb-1">
                Alimentos
              </h3>
              <p class="text-muted mb-6">
                Refeições prontas e alimentos perecíveis para pacientes e profissionais de plantão.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="icon text-primary">
              <img class="icone-campanha" src="./assets/img/icones/icon_roupas.png" alt="">
            </div>
            <div class="ml-5">
              <h3 class="text-primary mb-1">
                Roupas privativas para UTI
              </h3>
              <p class="text-muted mb-6">
                Contribua com o abastecimento
              </p>
            </div>
          </div>
          <br>
          <div class="d-flex">
            <div class="icon text-primary">
              <img class="icone-campanha" src="./assets/img/icones/icon_lencol.png" alt="">
            </div>
            <div class="ml-5">
              <h3 class="text-primary mb-1">
                Lençóis Descartáveis
              </h3>
              <p class="text-muted mb-6">
                Os lençóis dos leitos precisam ser trocados com frequência
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<br>
<!-- Dados Bancario -->
<section id="dados-bancarios" class="pt-8 pt-md-3 bg-gradient-light">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 text-center">
      <h2>
        <span class="text-primary">Para mais informações:</span><br>
        <span class="text-danger">(11) 5555-7050 </span>
      </h2>
      <p class="text-primary">O Santa Marcelina não recebe doações em espécie, somente via transações
        bancárias.</p>
    </div>
  </div>
  <hr>
  <div class="container" id="doe">
    <h2>
      <span class="title-grey">Dados Bancários</span>
    </h2>
    <br>
    <div class="row align-items-center">
      <div class="col-12 col-md-4 col-lg-4 aos-init aos-animate">
        <div class="d-flex justify-content-center">
          <div class="alert alert-danger box-banco" role="alert">
            <h2 class="alert-heading">BANCO ITAÚ</h2>
            <h3>AG.1732 C/C: 13350-7</h3>
            <p>
              CASA DE SAÚDE SANTA MARCELINA<br>
              CNPJ: 60.742.616/0001-60
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4 aos-init aos-animate">
        <div class="d-flex justify-content-center">
          <div class="alert alert-danger box-banco" role="alert">
            <h2 class="alert-heading">BANCO DO BRASIL</h2>
            <h3>AG.1911-9 C/C: 8560-X</h3>
            <p>
              STA MARCELINA COMVIDA-20<br>
              CNPJ: 60.742.616/0001-60
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4 aos-init aos-animate">
        <div class="d-flex justify-content-center">
          <div class="alert alert-danger box-banco" role="alert">
            <h2 class="alert-heading">BANCO SANTANDER</h2>
            <h3>AG.3809 C/C: 13000370-2</h3>
            <p>
              CASA DE SAÚDE SANTA MARCELINA<br>
              CNPJ: 60.742.616.0001-60
            </p>
          </div>
        </div>
      </div>      
    </div>
  </div>
  <div class="container text-center">
    <app-arrecadacao></app-arrecadacao>
  </div>
  <br>
</section>
<!-- Metas -->
<section id="metas" class="pt-8 pt-md-5 pb-8 bg-gradient-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-7 order-md-2 col-lg-7 mb-5 aos-init aos-animate" data-aos="fade-right">
        <img class="img-fluid" src="./assets/img/icones/20_MILHOES.jpg" alt="20_MILHOES">
      </div>
      <div class="col-12 col-md-4 order-md-1 col-lg-4 ml-5 aos-init aos-animate">
        <h3 class="sub-titulo">Nossa Meta</h3>
        <h1 class="box-title">Nos ajude a alcançar </h1>
        <p class="text-box">
          Sua doação irá ajudar a criar mais leitos e manter a qualidade da assistência à população
        </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-md-7 col-lg-7 order-md-2  mb-5 aos-init aos-animate" data-aos="fade-right">
        <img class="img-fluid" src="./assets/img/icones/DOE.jpg" alt="Doe">
      </div>
      <div class="col-12 col-md-4 order-md-1 col-lg-4 ml-5 aos-init aos-animate">
        <h3 class="sub-titulo">Salve vidas</h3>
        <h1 class="box-title">Doe Sangue</h1>
        <p class="text-box">
          Procure o Banco de Sangue do
          Hospital Santa Marcelina <br>
          Rua Harry Dannerberg, 473 Itaquera<br>
          (11)2523-0546
        </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-md-7 col-lg-7 order-md-2 mb-5 aos-init aos-animate" data-aos="fade-right">
        <img class="img-fluid" src="./assets/img/icones/EQUIP.jpg" alt="DoeEquipamentos">
      </div>
      <div class="col-12 col-md-4 col-lg-4 order-md-1 order-md-1 ml-5 aos-init aos-animate">
        <h3 class="sub-titulo">Doe</h3>
        <h1 class="box-title">Equipamentos </h1>
        <h1 class="box-title">Medicamentos</h1>
        <h1 class="box-title">Alimentos</h1>
      </div>
    </div>
  </div>
</section>